@font-body: 'Source Sans Pro', Helvetica, Helvetica, Arial, sans-serif;
@font-titles: 'Oxygen', Helvetica, Arial, sans-serif;

// Tipography
body, label, input, select, optgroup, option, textarea, button{
  color: #444;
  font-family: @font-body;
}

h1, h2, h3, h4, h5, h6{
  font-family: @font-titles;
}

.form-search{
  background: #ddd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  .container-fluid{
    padding: 12px 0;
  }
}
.content{
  background: #F7F7F7;
}
.social-sharing{
  background: none;
}

a:hover,
.ui-widget-content .slick-cell:hover a{
  color: @black40;
}

.ui-widget-content .slick-cell:hover{
  border-top-color: ; 
}

#tabs a:hover{
  color: white !important;
}
#tabs li.current a:hover{
  color: #333 !important;
}

// Header
.header-logo {display: inline-block; margin: 0 0 .25em; padding-top: 10px; vertical-align: middle;}
.header-logo img {vertical-align: middle; margin-left: 5px;}
@media screen and (min-width: 48em) {
  .header-logo {clear: both; float: right; margin: 0;}
}

.main-title {
  border-top: none; 
  font-size: 2.75em;
  font-weight: 400;
  background: transparent;
  padding: 0;
  line-height: 72px;

  a {
    display: inline;
    color: @color-base;
  }
  a:hover { color: lighten( @color-base, 10% ); }
}

#menu-lang{
  position: absolute;
  top: 10px;
  right: 0;

  ul{
    li{
      list-style: none;
      float: left;
      border-left: 1px solid @color-base;
      padding: 0 6px;
      line-height: 1em;

      &:first-child{
        border: none;
      }

      .active{
        font-weight: 600;
      }
    }
  }

  #menu-lang-form{
    visibility: hidden;
  }
}

// Masthead
header[role="banner"] {
  background: white;
  margin: 0;
  text-align: center;

  > .container-fluid{
    position: relative;
    height: 220px;

    .logo{
      width: 168px;
      height: 73px;
      text-indent: -9999px;
      overflow: hidden;
      background: url(../assets/logo.png) no-repeat 0 0 white;
      margin: 20px auto;
    }

    .open-data-logo{
      display: block;

      &:hover{
        opacity: 0.7;
      }
    }
  }
}

.nav-rwd > li > a{
  font-weight: 600;
  box-shadow: none;
  padding: .8em 2.5em .8em .8em;
}

// Menu
.main-menu-toggle{
  color: white;
  background: @color-base;
}

// Social menu
.menu-social{
  position: relative;
  float: right;
  margin: 18px 0 8px;
  z-index: 90;

  li{
    float: left;
    margin: 0 0 0 10px;
    list-style: none;

    > a{
      display: block;
      height: 20px;

      img{
        width: 20px;
        height: 20px;
      }
    }
  }
}

.home-intro .options > div{
  margin-bottom: 0.75em;
}

.home-intro .options .option-payments {
  margin: 0 2% .5em 0;
  .icon{
    color: spin(@color-base, 75);
  }
  .button {background-color: spin(@color-base, 75);}
}

.home-intro .options .option-policies{
  margin: 0;
}


// Welcome
.expense-examples ul li {
  text-shadow: 1px 1px 0 #EEEEEE;
  background-color: #eee;
}

// Sharing buttons
.addthis_toolbox li {
  margin: 0 1em 1em 0;
}


// Footer
.footer-corp{
  color: white;
  background: @color-base;
  padding: 2em 2%;

  a{
    color: white;
    padding: 0;
  }

  .logo-aragon{
    float: none;
    font-size: 1em;

    > a{
      padding-right: 5px;
      padding-left: 5px; 
    }
  }

  .footer-menu{
    padding: 0;
    margin: 20px 0 0 -20px;

    li{
      list-style: none;
      padding-right: 0.6em;
      margin-right: 0.6em;
    }
  }
}

.donation-banner {background: #EFF0F2; border-top: 1px solid @white; padding: 1.5em 0 1em;}

.donation-logo {float: left; width: 20%;}
.donation-logo img {width: 120px; margin-left: 20px; float: right;}

.donation-text {float: left; width: 70%; font-size: 1.2em; font-style: italic; line-height: 1.25; margin: 0 1em 1em 1em; text-align: center; }
.donation-text p {margin-bottom: 0; margin-top: 0.7em;}

.logo-aragon {font-size: 0.875em;}
.logo-aragon img {vertical-align: middle;}

// Articles
.body-articles .article {
  background: #ffffff;
  padding: 1em 1em 1px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;  
}
.body-articles .article .intro-text {font-size: 21px;}
.body-articles .article p {font-size: 17px;}

.table-grid .slick-header{
  border: none;
  border-bottom: 1px solid @color-base;
  background: mix( @color-base, white, 10% );
}

.table-grid .slick-header-column{
  background: mix( @color-base, white, 10% );
}

.data-controllers.functional_view #btn-field .btn{
  background: @color-base;
  color: white;
  text-shadow: none;
  font-weight: bold;
  border: 1px solid @color-base;
  font-size: 1em;
  padding: 5px 6px;

  &:hover{
    color: white;
    background: lighten(@color-base, 12%);
  } 

  &.active,
  &.active:hover{
    color: @color-base;
    background: mix( @color-base, white, 10% );
  }
}

// Hide Budgets Indicators by default
#totals_panel .total .value{
  display: none;
}

// Payments Forms
.form-user-incomings{
  font-size: 1.125em;
  text-align: left;
  padding: 1.5em;

  .intro-text{
    font-size: 1.125em;
    font-style: normal;
  }

  hr{
    margin: 1em 0 0.5em;
  }

  label {
    display: block;
    text-align: left;
    margin: 0;
    padding-top: 0;
  }

  select{
    height: 34px;
    margin-right: 1em;
  }

  .select-info {
    float: right;
    color: @color-base;
    font-size: italic;
    line-height: 28px;
  }
}

@media screen and (min-width: 48em) {

  header[role="banner"] > .container-fluid{
    height: 105px;

    > .row-fluid{
      display: block;
    }

    .main-title {
      font-size: 3em;
      line-height: 100px;
    }

    .logo{
      position: absolute;
      top: 12px;
      left: 12px;
      margin: 0;
    }

    .open-data-logo{
      position: absolute;
      top: 42px;
      right: 12px;
      z-index: 90;
    }
  }

  #menu-lang{
    right: 1em;
  }

  .home-intro .options > div {
    width: 45%;
  }

  #main-menu ul{
    font-size: 16px;
    
    li{
      border: none;
      width: 18%;

      &.page-payments{
        width: 24%;
      }
      &.page-tax{
        width: 21%;
      }
      &.page-glossary{
        width: 19%;
      }

      [class*="icon-"]:before {
        position: relative;
        top: 2px;
      }

      > a{
        font-weight: 400;
        text-align: center;
        height: 45px;
        line-height: 44px;
        padding: .5em 0;
        border-right: 1px solid mix(@color-base, white, 50% );

        &.icon-budget{
          border-left: 1px solid mix(@color-base, white, 50% );
        }

        &.icon-payments{
          //line-height: 22px;
          &:before {
            font-size: 0.875em;
          }
        }
      }
    }
  }

  .footer-corp .footer-menu li{
    float: left;
    border-right: 1px solid white;
    line-height: 1em;

    &:last-child{
      border: none;
    }
  }
}