<div class="budget-stream">
  <div class="row-fluid">
    <div class="span4">
      <div class="step1">
        <h2><span>1.</span> <b>{{ _('La recaudación') }}</b></h2>
        <p class="desc">{{ _('La recaudación de impuestos locales se realiza a través de impuestos directos, principalmente el IBI, y de tasas y precios públicos. Por otro lado la ciudadanía paga impuestos al Estado y a la Generalitat de Cataluña a través de los impuestos directos - como el IRPF y el impuesto de sociedades- y de impuestos indirectos -IVA e impuestos sobre el tabaco, el alcohol o la gasolina.')|safe }}</p>
      </div>
    </div>
    <div class="span4">
      <div class="step2">
        <h2><span>2.</span> <b>{{ _('¿Cómo se reparte?') }}</b></h2>
        <p class="desc">{{ _('La totalidad del dinero recaudado por el Ayuntamiento se destina al presupuesto municipal que requiere de otros ingresos provenientes, principalmente, de la Generalitat y la Administración General del Estado para formar el presupuesto de ingresos municipal.')|safe }}</p>
      </div>
    </div>
    <div class="span4">
      <div class="step3">
        <h2><span>3.</span> <b>{{ _('¿En qué se emplea?') }}</b></h2>
        <p class="desc">{{ _('El Ayuntamiento utiliza el dinero recaudado, junto con las transferencias del resto de Administraciones Públicas, para mantener los servicios públicos y la provisión de bienes públicos a la ciudadanía de Rubí.')|safe }}</p>
      </div>
    </div>
  </div>
</div>
