<h1 class="page-title" id="indicadores">{{ _('Indicadores presupuestarios en') }} <span id="indicators-year"></span></h1>

<div id="totals_panel">
  <p class="total">
    <span><a href="/glosario?q={{ _('Resultado presupuestario ajustado') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{ _('Resultado presupuestario ajustado') }}"></a> {{ _('Resultado presupuestario ajustado') }}</span> 
    <b class="value value-2011">4.134.902</b>
    <b class="value value-2012">12.694.293</b>
    <b class="value value-2013">12.537.358</b>
    <b class="value value-2014">7.930.109</b>
  </p>
  <p class="total">
    <span><a href="/glosario?q={{ _('Remanente de tesoreria para gastos generales') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{ _('Remanente de tesoreria para gastos generales') }}"></a> {{ _('Remanente de tesoreria para gastos generales') }}</span>
    <b class="value value-2011">4.680.075</b>
    <b class="value value-2012">16.707.273</b>
    <b class="value value-2013">26.368.264</b>
    <b class="value value-2014">30.463.705</b>
  </p>
  <p class="total">
    <span><a href="/glosario?q={{ _('Ahorro neto') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{ _('Ahorro bruto – capítulo IX de gastos (pasivos financieros)') }}"></a> {{ _('Ahorro neto') }}</span>
    <b class="value value-2011">885.003</b>
    <b class="value value-2012">6.412.286</b>
    <b class="value value-2013">16.040.237</b>
    <b class="value value-2014">14.727.461</b>
  </p>
  <p class="total">
    <span><a href="/glosario?q={{ _('Capacidad/Necesidad de financiación') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{ _('Ingresos no financieros (capítulos I-VII) – Gastos no financieros (capítulos I-VII)') }}"></a> {{ _('Capacidad/Necesidad de financiación') }}</span>
    <b class="value value-2011">6.321.711</b>
    <b class="value value-2012">16.008.127</b>
    <b class="value value-2013">17.865.107</b>
    <b class="value value-2014">14.928.661</b>
  </p>
  <p class="total">
    <span><a href="/glosario?q={{ _('Regla del gasto') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{ _('Regla del gasto') }}"></a> {{ _('Regla del gasto') }}</span>
    <b class="value value-2013">565.534</b>
    <b class="value value-2014">-1.013.953</b>
  </p>
  <p class="total">
    <span><a href="/glosario?q={{ _('Deuda viva') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{ _('Deuda viva') }}"></a> {{ _('Deuda viva') }}</span>
    <b class="value value-2011">61.781.824</b>
    <b class="value value-2012">53.606.744</b>
    <b class="value value-2013">46.381.164</b>
    <b class="value value-2014">39.875.467</b>
  </p>
</div>

<p class="footnote tcenter">{{ _('Las cantidades de estos indicadores se publicarán una vez liquidado el presupuesto del año corriente en el primer trimestre del año siguiente.') }}</p>

