{% extends 'base.html' %}
{% block content %}
<h1 class="page-title">{{ _('Lo que tú aportas') }}</h1>
<p class="intro-text">{{ _('Te mostramos de forma aproximada') }}<a href="#footnote-receipt" title="{{ _('Nota sobre el cálculo realizado') }}"></a> {{ _('cómo se distribuye el dinero que aportas con tus impuestos') }}.</p>

<form class="form-user-incomings" action="#" method="get">

  <p class="intro-text">{{ _('Puedes escoger el tipo de situación que mejor refleja tu realidad (<a href="#" id="scenario-1">piso pequeño en el casco antiguo</a>, <a href="#" id="scenario-2">piso de nueva construcción</a>, casa unifamiliar <a href="#" id="scenario-3">en el centro</a>, o <a href="#" id="scenario-4">en una urbanización</a>) o modificar cada uno de los elementos de forma independiente.')|safe }}</p>

  <div class="user-incomings-custom">

    <h4 style="text-align: center">{{ _('Impuestos') }}</h4>
    <label for="select-house">{{ _('Inmueble') }}</label>
    <select id="select-house">
      <option value="0" type="text" selected="selected">{{ _('Piso de 80 m\u00B2 situado en la zona del mercado') }}</option>
      <option value="1" type="text">{{ _('Piso de 110 m\u00B2 situado en el centro, nueva construcción') }}</option>
      <option value="2" type="text">{{ _('Casa unifamiliar adosada en el centro del pueblo') }}</option>
      <option value="3" type="text">{{ _('Casa unifamiliar aislada en urbanización') }}</option>
    </select>
    <span class="select-info">{{ _('IBI') }}: <span id="select-house-tax"></span></span>
    
    <hr/>
    <label for="select-vehicle">{{ _('Vehículo') }}</label>
    <select id="select-vehicle">
      <option value="0" type="text" selected="selected">{{ _('Ninguno') }}</option>
      <option value="1" type="text">{{ _('Coche pequeño') }}</option>
      <option value="2" type="text">{{ _('Coche mediano/grande') }}</option>
    </select>
    <span class="select-info">{{ _('Impuesto a vehículos motorizados') }}: <span id="select-vehicle-tax"></span></span>

    <hr/>
    <label for="select-extra-vehicle">{{ _('Vehículo adicional') }}</label>
    <select id="select-extra-vehicle">
      <option value="0" type="text" selected="selected">{{ _('Ninguno') }}</option>
      <option value="1" type="text">{{ _('Coche pequeño') }}</option>
      <option value="2" type="text">{{ _('Coche mediano/grande') }}</option>
    </select>
    <span class="select-info">{{ _('Impuesto a vehículos motorizados') }}: <span id="select-extra-vehicle-tax"></span></span>

    <hr/>
    <h4 style="text-align: center; margin-top: 40px">{{ _('Tasas') }}</h4>
    <label for="select-garbage">{{ _('Unidad familiar') }}</label>
    <select id="select-garbage">
      <option value="0" type="text" selected="selected">{{ _('Un adulto y dos menores') }}</option>
      <option value="1" type="text">{{ _('Dos adultos y dos menores') }}</option>
      <option value="2" type="text">{{ _('Dos adultos jubilados') }}</option>
      <option value="3" type="text">{{ _('Familia numerosa') }}</option>
    </select>
    <span class="select-info">{{ _('Tasa de basuras') }}: <span id="select-garbage-tax"></span></span>

    <hr/>
    <label for="select-parking">{{ _('¿Tienes un vado?') }}</label>
    <select id="select-parking">
      <option value="0" type="text" selected="selected">{{ _('No') }}</option>
      <option value="1" type="text">{{ _('Sí, comunitario') }}</option>
      <option value="2" type="text">{{ _('Sí, privado') }}</option>
    </select>
    <span class="select-info">{{ _('Tasa') }}: <span id="select-parking-tax"></span></span>
  </div>
</form>

<p id="tax-amount">{{ _('Contribuyes con un total de <b id="tax-amount-paid"></b> a los presupuestos del Ayuntamiento de Rubí')|safe }}.</p>

<div class="box box-tax">
  <div class="box-title">
    <h2 class="tcenter">{{ latest_budget.year }}</h2>
  </div>
  <div class="box-content">
    <div class="table-grid" id="myGrid"></div>
    {% include 'shared/social_sharing.html' %}
  </div>
</div>

{% include 'shared/policy_paths.html' %}
<script>
  $(function () {
    var totalTaxPaid = 0;

    // Display amount as expense per capita
    function calculatePersonalTax(row, cell, value, columnDef, dataContext) {
      if (value == null) return null;
      var percentage = value / columnValueExtractor(dataContext.root, columnDef);
      return formatDecimal(percentage * totalTaxPaid) + " €";
    }

    function formatTaxAmount(value) {
      return numeral(value).format( '0,0.00', Math.floor ) + " €";
    }

    function getHouseTaxPaid() {
      return [333.91, 754.22, 1266.23, 1732.10][$("#select-house").val()];
    }
    function getVehicleTaxPaid() {
      return [0, 68.16, 143.88][$("#select-vehicle").val()];
    }
    function getExtraVehicleTaxPaid() {
      return [0, 68.16, 143.88][$("#select-extra-vehicle").val()];
    }
    function getGarbageTaxPaid() {
      return [112.50, 115.09, 109.86, 94.18][$("#select-garbage").val()];
    }
    function getParkingTaxPaid() {
      return [0, 24.96, 163.52][$("#select-parking").val()];
    }

    function redrawGrid() {
      var houseTaxPaid = getHouseTaxPaid();
      $('#select-house-tax').text(formatTaxAmount(houseTaxPaid));

      var vehicleTaxPaid = getVehicleTaxPaid();
      $('#select-vehicle-tax').text(formatTaxAmount(vehicleTaxPaid));

      var extraVehicleTaxPaid = getExtraVehicleTaxPaid();
      $('#select-extra-vehicle-tax').text(formatTaxAmount(extraVehicleTaxPaid));

      var garbageTaxPaid = getGarbageTaxPaid();
      $('#select-garbage-tax').text(formatTaxAmount(garbageTaxPaid));

      var parkingTaxPaid = getParkingTaxPaid();
      $('#select-parking-tax').text(formatTaxAmount(parkingTaxPaid));

      totalTaxPaid = houseTaxPaid + vehicleTaxPaid + extraVehicleTaxPaid + garbageTaxPaid + parkingTaxPaid;
      $("#tax-amount-paid").text(formatTaxAmount(totalTaxPaid));
      // XXX: window.location.hash = 'ingresos='+getIncomeInEuros();

      createBudgetGrid("#myGrid", gridData, [
        {field: "label", name: '{{ _("Política") }}', formatter: policyLinkFormatter, width: 300},
        {
          field: 'expense',
          name: '{{ _("Gasto") }}',
          formatter: calculatePersonalTax, 
          headerCssClass: 'slick-header-right',
          getter: getBreakdownValue, 
          column: '{{ latest_budget.name() }}',
          year: breakdown.years['{{ latest_budget.name() }}']
        }
      ]);
    }

    function setStatus(house, vehicle, extraVehicle, garbage, parking) {
      $('#select-house').val(house);
      $('#select-vehicle').val(vehicle);
      $('#select-extra-vehicle').val(extraVehicle);
      $('#select-garbage').val(garbage);
      $('#select-parking').val(parking);
    }
    $("#scenario-1").click(function() { setStatus(0, 1, 2, 0, 0); redrawGrid(); return false; });
    $("#scenario-2").click(function() { setStatus(1, 1, 2, 1, 1); redrawGrid(); return false; });
    $("#scenario-3").click(function() { setStatus(2, 0, 0, 2, 0); redrawGrid(); return false; });
    $("#scenario-4").click(function() { setStatus(3, 1, 2, 3, 2); redrawGrid(); return false; });

    var breakdown = {{ breakdown.to_json( labels=descriptions['functional'] )|safe }};
    var gridData = breakdownToTable(breakdown);

    // var state = $.deparam.fragment();
    // if ( state['ingresos'] ) {
    //   $('#ingresos').val(state['ingresos']);
    // }

    $("select").change(redrawGrid);
    redrawGrid();
  })
</script>
{% endblock %}