<section class="data-sources box" role="region">
  <div class="box-title">
    <h3>{{ _('Fuentes de datos') }}</h3>
  </div>
  <div class="box-content">
    <ul class="source-list">
      <li><a href="https://opendata.rubi.cat/browse?category=Finances+Municipals&for_user=i75g-tm9r" target="_blank">{{ _('Datos presupuestarios') }} · <b>{{ _('Ayuntamiento de Rubí') }}</b></a></li>
      <li><a href="https://opendata.rubi.cat/Finances-Municipals/Estat-execucio-pressupost-despeses-Any-Vigent-/ynig-hhni" target="_blank">{{ _('Datos de ejecución presupuestaria') }} · <b>Open Data Rubí</b></a></li>
      <li><a href="http://www.ine.es/jaxiT3/Tabla.htm?t=2861" target="_blank">{{ _('Datos de población') }} · <b>{{ _('Instituto Nacional de Estadística (INE)') }}</b></a></li>
      <li><a href="http://www.ine.es/jaxiT3/Tabla.htm?t=2605" target="_blank">{{ _('Datos de inflación (Medias anuales de IPC para Cataluña)') }} · <b>{{ _('Instituto Nacional de Estadística (INE)') }}</b></a></li>
    </ul>
    <div class="alert inline-block note">
      <p class="title tupper">{{ _('Nota') }}</p>
      <ul>
        <li>{{ _('Los ingresos y gastos mostrados incluyen únicamente al Ayuntamiento de Rubí') }}.</li>
        <li>{{ _('El ajuste de la inflación se realiza a <b>1 de enero de')|safe }} {{ last_inflation_year }}</b>.</li>
      </ul>
    </div>
  </div>
</section>