{% load i18n %}

<header role="banner">

  <div class="container-fluid">
    <div class="logo">{{ _('Ayuntamiento de Rubí') }}</div>

    <a class="open-data-logo" href="https://opendata.rubi.cat" title="Open Data Rubí" target="_blank">
      <img src="/static/assets/rubi-open-data.gif" alt="Logo de Open Data Rubí">
    </a>

    <h1 class="main-title">
      <a href="{{ url('budget_app.views.welcome') }}" title="{{ _('Ir a la home de Presupuestos de Rubí') }}">
        {{ _('Presupuestos') }}
      </a>
    </h1>

    <div id="menu-lang">
      <ul>
        {% for language in LANGUAGES %}
          <li><a href="#{{ language[0] }}"{% if language[0].lower() == LANGUAGE_CODE %} class="active"{% endif %}>{{ language[1]|safe }}</a></li>
        {% endfor %}
      </ul>
      <form id="menu-lang-form" action="/i18n/setlang/" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select name="language">
          {% for language in LANGUAGES %}
            <option value="{{ language[0] }}">{{ language[1]|safe }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Go" />
      </form>
    </div>

  </div>

  <script type="text/javascript">
    // Lang selector (use links to send lang post form)
    $('#menu-lang li a').click(function(e){
      e.preventDefault();
      $('#menu-lang-form option[value="'+$(this).attr('href').slice(1)+'"]').prop('selected', true);
      $('#menu-lang-form').submit();
    });
  </script>

  <a class="main-menu-toggle" href="main-menu">{{ _('Menú principal') }}</a>
  
  <nav role="navigation" id="main-menu">
    <div class="container-fluid">
      <h1 class="visuallyhidden">{{ _('Menú principal') }}</h1>

      <ul class="nav-rwd">
        <li class="page-budgets"><a href="{{ url('budget_app.views.budgets') }}" class="icon-budget">{{ _('Visión global') }}</a></li>
        <li class="page-policies"><a href="{{ url('budget_app.views.policies') }}" class="icon-policy">{{ _('Políticas') }}</a></li>
        <li class="page-payments"><a href="{{ url('budget_app.views.payments') }}" class="icon-payments">{{ _('Pagos e inversiones') }}</a></li>
        <li class="page-tax"><a href="{{ url('budget_app.views.tax_receipt') }}" class="icon-aportacion">{{ _('Lo que tú aportas') }}</a></li>
        <li class="page-glossary"><a href="{{ url('budget_app.views.terms') }}" class="icon-glossary">{{ _('¿Qué significa...?') }}</a></li>
      </ul>
    </div>
  </nav>
</header>